# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:

   1. Numpy
   
   2. Pandas
   
   3. Matplotlib

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Visual Studio Code (VSCode) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
result = 5 + 3
print("Addition:", result)

Addition: 8

In [3]:
result = 10 - 4
print("Subtraction:", result)

Subtraction: 6

In [4]:
result = 6 * 7
print("Multiplication:", result)

Multiplication: 42

In [5]:
result = 15 / 3
print("Division:", result)

Division: 5.0

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

### Objectives:
 - Python
 - R
 - Julia
 - SQL
 - MATLAB

## Author
Mallikarjun Reddy Reddy